*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;    
}

.container-icon{
    width: 176px;
    height: 80px;
    border: black solid 1px;
    margin: 12px;
    text-align: center;
    padding: 6px 0;
}

.container-select{
    width: 100%;
    text-align: center;
}

.select-menu{
    width: 150px;
    height: 35px;
}

.fas{
    transform: scale(2);
    margin: 12px 0;
}

.blue{
    color: blue;
}

.orange{
    color: orange;
}

.green{
    color: green;
}

